{
	"singleQuote": true,
  "printWidth": 120,
  "tabWidth": 2,
  "tabs": false,
  "semi": true,
  "trailingComma": "all",
  "bracketSpacing": true,
	"plugins": ["prettier-plugin-svelte"],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
